.stock-list-panel {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  display: block;
  overflow: hidden;
  text-align: center;
}

.list-form-field {
  margin-left: 10px;
  margin-right: 10px;
}

.stocks-header{
  position: fixed;
  width: 100%;
  background-color: white;
  left:0;
  top:0;
  z-index: 1;
  border-bottom: solid #ccc;
}

table{
  margin-top: 50px;
  width: 100%;
  border-spacing: 0px;
}

td, th{
  padding-left: 30px;
  padding-right: 30px;
  font-weight: normal;
  text-align: center;
  border-top: solid thin #ccc; 
}

th {
  background-color: #EBEBEB;
}

tr{
  height: 50px;
}

.card-content {
  height: 100%;
}
